# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# ====compile=====================
*.sdf
*.exe
*.pdb
*.opensdf
*.obj
# =========================
#
# ====log=====================
*.tlog
*.log

windows/SmokeSimulation/SmokeSimulation.v11.suo
*.suo
*.txt
*.png
